@import url('../node_modules/simpledotcss/simple.min.css');

@media (prefers-color-scheme: dark) {
  :root {
    --accent: seagreen;
  }
}

header > .navbar {
  width: 100vw;
}

/* body > h1 {
  display: flex;
  float: left;
} */


body {
  margin: 0;
  padding: 0;
  line-height: 1.7;
  font-size: 1.4rem;
  grid-template-columns: 1fr 4fr 1fr;
}
body > div {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh
}
h1 {
  color:seagreen;
}

/*
.footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  padding-left: 5rem;
  margin: 0 auto !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin: 0;
} */